@import "tailwindcss";

@theme {
--color-primary: #187cc2;
--color-primary-50: #f2f8fd;
--color-primary-100: #e3f0fb;
--color-primary-200: #c1e0f6;
--color-primary-300: #8ac7ef;
--color-primary-400: #4caae4;
--color-primary-500: #2490d3;
--color-primary-600: #187cc2;
--color-primary-700: #135b91;
--color-primary-800: #144e78;
--color-primary-900: #164264;
--color-primary-950: #0f2a42;


--color-secondary: #fdb348;
--color-secondary-50: #fff8eb;
--color-secondary-100: #fee9c7;
--color-secondary-200: #fed289;
--color-secondary-300: #fdb348;
--color-secondary-400: #fc9a23;
--color-secondary-500: #f6750a;
--color-secondary-600: #da5205;
--color-secondary-700: #b53508;
--color-secondary-800: #93280d;
--color-secondary-900: #79220e;
--color-secondary-950: #450e03;

}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes ry {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
